<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
<script>
$.backstretch([
      "<%= asset_path 'batman.png' %>"
    ], {duration: 3000, fade: 750});
</script>
<h2>I am batman</h2>
<style type="text/css">
  h2 {
   color:#fff;
   font-size:100px;
  	 left: 200px;
    top: 150px;
    position:absolute;

     }
  </style>